.billet-cell-container {
  &__cell {
    display: flex;
    flex-direction: column;
  }
  &__stat {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  &__title {
    font-size: 32px;
    padding: 0;
    margin: 0;
    // color: red;
  }
  &__price {
    font-size: 32px;
    padding: 0;
    margin: 0;
  }
  &__item-label {
  }
  &__actions {
  }
  &__length {
    margin: 0 10px 0 10px;
  }
  &__button {
    font-size: 16px;
    padding: 15px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px;
    text-align: center;
  }
  &__button:hover {
    background-color: darkblue;
  }
  &__button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
}
