.price-item-container {
  text-decoration: none;
  font-size: 12px;

  &__priceitem {
    display: flex;
  }

  &__column {
    width: 120px;
    text-align: left;
  }

  &__name {
    width: 140px;
  }

  &__size {
    width: 80px;
  }

  &__surface {
    color: red;
    width: 50px;
  }

  &__other {
    width: 160px;
  }
}

.width-50 {
  width: 50px; 
}

.width-80 {
  border: 1px solid red;
  width: 80px;
}