.modal {
  &__container {
    box-sizing: border-box;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow:
      0px 24px 32px rgba(0, 0, 0, 0.04),
      0px 16px 24px rgba(0, 0, 0, 0.04),
      0px 4px 8px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;

    font-family: 'JetBrains Mono', Arial, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust width for responsiveness */
    max-width: 500px;
    height: 90vh; /* Full height with some padding */
    max-height: 100vh;
    background-color: azure;
    z-index: 100;
    overflow-y: auto; /* Enable scrolling if content overflows */
    padding: 16px; /* Add padding for content */
  }
}