.home-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__page-title {

  }
  
  &__section {
    margin-top: 20px;
    padding: 20px;
    display: flex;
  }
}
