@import '../../assets/styles/vars.scss';

.header {
  border: 1px solid red;
  box-sizing: border-box;
  max-width: $large-desktop;
  background-color: antiquewhite;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__wrapper {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 48px;
    padding: 12px;
  }
}

@media screen and (max-width: $desktop) {
  .header {
    background-color: rgb(242, 213, 175);

    &__wrapper {
      border: 1px solid blue;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  
}