@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/woff2/NunitoSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/woff2/NunitoSans-RegularCyr.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/woff2/NunitoSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/woff2/NunitoSans-BoldCyr.woff2) format('woff2');
}